* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #022b3a;
}

#header {
  width: 100vw;
  height: 40px;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-left: 10px;
}

.round {
  height: 100;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.glow {
  background-color: #f1e469 !important;
}

#input-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

#input-heading {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  margin-bottom: 2px;
}

#name-input {
  resize: none;
}

#brackets-container {
  width: 100vw;
  min-height: 600px;
  display: flex;
}

.player {
  height: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 10px 20px;
}

.up {
  border-radius: 10px 10px 0 0;
  background-color: #bfdbf7;
  border-bottom: 1px solid #1f7a8c;
}

.down {
  border-radius: 0 0 10px 10px;
  background-color: #bfdbf7;
  border-top: 1px solid #1f7a8c;
}
